- var pageTitle = 'Penghargaan'

include presentation-header

include menu

article#presentation
   
    section
        h2 Penghargaan
        h3 yang didapatkan
        
    section
        h2 Pada tahun 1998
        h3 Smash Hits Awards : Best New Tour Act
        
    section
        h2 Pada tahun 1999
        h3 MTV Europe Music Awards
        h4 * Best UK and Ireland Act
        h3 TMF Awards
        h4 * Best Breakthrough Artist/Newcomer
    
    section
        h2 Pada tahun 2000
        h3 TMF Awards
        h4 * Best International Band
        h3 Smash Hits
        h4 * Best Album (Coast to Coast)
        h4 * Best Single (My love)
include presentation-footer
include main-footer