- var pageTitle = 'Biografi'

include presentation-header
include menu
article#presentation


	section
		h2 BIOGRAFI
		h3 WESTLIFE
		
	section
		p Westlife Merupakan Grup Vokal berasal dari Irlandia.
		p Anggotanya terdiri dari : 
		ul
			li - Mark Feehily
			li - Shane Filan
			li - Nicky Byrne
			li - Bryan McFadden
			li - Kian Egan

	section
		h2 Asal Mula
		p Pada tahun 1996 di Sligo ( kota kecil di sebelah utara irlandia ). 3 anggota westlife ( Shane, Mark, dan Kian ), yang sering aktif dalam kegiatan teater. Dan mendapatkan peran utama dalam sebuah drama grease. Pada suatu malam, seorang manager bernama mary mcdonagh membentukkan mereka bertiga dengan tiga orang lain menjadi " 6 as 1 ". Mereka berenam mulai tampil di teater-teater di Sligo pada tahun 1997.
		
	section
		h2 " 6 as 1 menjadi " IO U "
		p Mereka tidak menyukai nama grup mereka, dan akhirnya mengubah menjadi " IO U ". Kemudian merekam sebuah single yang berjudul " Together Girl Forever ". Dan Ditayangkan oleh sebuah acara dan menarik perhatian Louis Walsh ( manager dari grup band pop yang paling sukses di Eropa pada saat itu - Boyzone ).
	
	section
		h2 Ganti lagi menjadi " Westside "
		p Setelah itu, personil grup tersebut dipecahkan dan hanya diambil Shane, Mark dan Kian yang akan menjadi personil "IO U". Tetapi ternyata merasa masih ada yang kurang dari suara mereka bertiga. Dan dicari vokal tambahan yang mengadakan audisi di Dublin ( suatu kota di Irlandia ) untuk mencari personil keempat. Nicky Byrne dan Bryan Mcfadden merupakan orang-orang yang mengikuti audisi tersebut. Mereka berdua ternyata sudah lama berteman dan berharap menggabung jadi 1 grup. Kemudian mereka berdua bergabung dalam " IO U ". Yang diubah namanya menjadi " Westside " untuk memulai karir mereka berlima.

	section
		h2 Akhirnya menjadi " Westlife "
		p Westside ternyata tidak berlangsung lama. Karena nama westside sudah pernah menjadi nama group band sebelumnya. Oleh karena itu, terpaksa mengganti nama boy band-nya untuk keempat kalinya. Kali ini mereka memilih nama " Westlife ". Pada bulan juli 1998, westlife mulai tampil keliling inggris bersama boyzone dan pada bulan oktober, mereka menerima penghargaan dari majalah smash hits award sebagai "best new tour act". 
		
	section
		h2 Mulai Karir " Westlife "
		p Pada tanggal 19 april 1999, single mereka yang berjudul "swear it again" menjadi best seller. Dengan dirilisnya single kedua "if i let you go",Tapi mereka tidak puas sampai di situ. Single ketiga, keempat, dan kelima juga berhasil duduk di peringkat pertama tangga lagu inggris dan merupakan sebuah kesuksesan besar yang tidak pernah dirasakan group band mana pun di inggris.

	section
		h2 Keluarnya Bryan Mcfadden dari Westlife
		p Setelah Westlife dibentuk 7 tahun, seorang personil bernama Bryan Mcfadden memutuskan untuk keluar dari Westlife pada sebuah konferensi pers di Dublin, Irlandia. Bryan memilih untuk menemani keluarganya dan juga berkarir sebagai penyanyi solo.

	section
		h1 Sedikit Informasi tentang Anggota Westlife
		
	section
		h2 Shane Filan
		p Shane Filan yang memiliki nama lengkap Shane Steven Filan, dilahirkan pada tanggal 7 Juli 1979 di Sligo. Mempunyai satu saudara perempuan bernama Iyvone. Lagu favoritnya adalah " I Believe I Can Fly " dari R.Kelly.
		
include presentation-footer

include main-footer

