- var pageTitle = 'Biografi'

include presentation-header

include menu

article#presentation


	section
		h2 BIOGRAFI
		h3 WESTLIFE
		
	section
		p Westlife Merupakan Grup Vokal berasal dari Irlandia.
		p Anggotanya terdiri dari : 
		ul
			li - Mark Feehily
			li - Shane Filan
			li - Nicky Byrne
			li - Bryan McFadden
			li - Kian Egan

		
include presentation-footer
include main-footer
