- var pageTitle = 'Deskripsi Kuliah'

include presentation-header

include menu

article#presentation


	section
		h1 DISKOGRAFI

	section
		h2.bullet Albums
		ul
			li.h2 Studio Album
	section
		h2.bullet Westlife
		h2.bullet Release : 1 November 1999
		h2.bullet Sound Track
		ul
			li.h3 Swear It Again
			li.h3 If I Let You Go
			li.h3 Flying Without Wings
			li.h3 Season in The Sun
			li.h3 Fool Again
			li.h3 No No
			li.h3 I Don't Wanna Fight
			li.h3 Change The World
			li.h3 Moments
			li.h3 I Need You
			li.h3 Miss You
	section
		h2.bullet Westlife
		h2.bullet Release : 1 November 1999
		h2.bullet Sound Track
		ul
			li.h3 More Than Words
			li.h3 Open Your Heart
			li.h3 Try Again
			li.h3 What I Want Is What I've Got
			li.h3 We Are One
			li.h3 Can't Lose What You Never Had
			li.h3 I Have a Dream
			li.h3 On the Wings Of Love
			li.h3 Swear It Again ( Rokstone Mix )
			li.h3 If I Let You Go ( Extended Version )
			li.h3 That's What It's All About
			li.h3 Flying Without Wings ( A Cappella Mix )
	section
		h2.bullet Coast To Coast
		h2.bullet Release : 6 November 2000
		h2.bullet Sound Track
		ul
			li.h3 My Love
			li.h3 I Lay My Love On You
			li.h3 Against All Odds
			li.h3 When You're Looking Like That
			li.h3 Close
			li.h3 Somebody Needs You
			li.h3 Angel's Wings
	section
		h2.bullet Coast To Coast
		h2.bullet Release : 6 November 2000
		h2.bullet Sound Track
		ul
			li.h3 Soledad
			li.h3 Puzzle Of My Heart
			li.h3 Dreams Come True
			li.h3 No Place That Far
			li.h3 You Make Me Feel
			li.h3 Loneliness Knows Me By Name
			li.h3 Fragile Heart
			li.h3 Every Little Thing You Do
	section
		h2.bullet World Of Our Own
		h2.bullet Release : 1 November 2001
		h2.bullet Sound Track
		ul
			li.h3 Queen of My Heart
			li.h3 Bop Bop Baby
			li.h3 Bop Bop Baby ( Almighty Radio Edit )
			li.h3 I Cry
			li.h3 I Promise You That
			li.h3 My Private Movie
			li.h3 Why Do I Love You
			li.h3 I Wanna Grow Old With You
			li.h3 Don't Get Me Wrong
			li.h3 Evergreen
			li.h3 Crying Girl
			li.h3 You Don't Know
	section
		h2.bullet World Of Our Own
		h2.bullet Release : 1 November 2001
		h2.bullet Sound Track
		ul
			li.h3 World of Our Own
			li.h3 Reason for Living
			li.h3 To Be Loved
			li.h3 Drive
			li.h3 If Your Heart's Not In It
			li.h3 When You Come Around
			li.h3 Don't Say It Too Late
			li.h3 Don't Let Me Go
			li.h3 Walk Away
			li.h3 Love Crime
			li.h3 Imaginary Diva
			li.h3 Angel
			li.h3 Bad Girls
	section
		h2.bullet Unbreakable : The Greatest Hits Volume 1
		h2.bullet Release : 11 November 2002
		h2.bullet Sound Track
		ul
			li.h3 Swear It Again
			li.h3 If I Let You Go
			li.h3 Flying Without Wings
			li.h3 I Have A Dream ( Remix )
			li.h3 Fool Again
			li.h3 Against All Odds
			li.h3 My Love
			li.h3 I Lay My Love On You
			li.h3 Uptown Girl
			li.h3 QUeen Of My Heart
	section
		h2.bullet Unbreakable : The Greatest Hits Volume 1
		h2.bullet Release : 11 November 2002
		h2.bullet Sound Track
		ul
			li.h3 World Of Our Own
			li.h3 Bop Bop Baby
			li.h3 When You're Looking Like That
			li.h3 Unbreakable
			li.h3 Written In The Stars
			li.h3 How Does It Feel
			li.h3 Tonight
			li.h3 Love Takes Two
			li.h3 Miss You Nights
	section
		h2.bullet Turnaround
		h2.bullet Release : 24 November 2003
		h2.bullet Sound Track
		ul
			li.h3 Mandy
			li.h3 Hey Whatever
			li.h3 Heal
			li.h3 Obvious
			li.h3 When A Woman Loves A Man
			li.h3 On My Shoulder
			li.h3 Turn Around
			li.h3 I Did It For You
			li.h3 Thank You
			li.h3 To Be With You
			li.h3 Home
			li.h3 Lost In You
			li.h3 What Do They Know


include presentation-footer
include main-footer
