- var pageTitle = 'Deskripsi Kuliah'

include presentation-header

include menu

article#presentation


	section
		h1 DISKOGRAFI

	section
		h2.bullet Albums
		ul
			li.h2 Studio Album
	section
		h2.bullet Swear It Again
		h2.bullet Release : 12 April 1999
		h2.bullet Sound Track
		ul
			li.h3 Swear It Again ( Radio Edit )
			li.h3 Until The End Of Time
			li.h3 Forever
			li.h3 Everybody Knows
			li.h3 Let's Make Tonight Special
			li.h3 Don't Calm The Strom
			li.h3 Ronan Keating Interviews Westlife
	section
		h2.bullet Westlife
		h2.bullet Release : 1 November 1999
		h2.bullet Sound Track
		ul
			li.h3 Swear It Again
			li.h3 If I Let You Go
			li.h3 Flying Without Wings
			li.h3 Season in The Sun
			li.h3 Fool Again
			li.h3 No No
			li.h3 I Don't Wanna Fight
			li.h3 Change The World
			li.h3 Moments
			li.h3 I Need You
			li.h3 Miss You
	section
		h2.bullet Westlife
		h2.bullet Release : 1 November 1999
		h2.bullet Sound Track
		ul
			li.h3 More Than Words
			li.h3 Open Your Heart
			li.h3 Try Again
			li.h3 What I Want Is What I've Got
			li.h3 We Are One
			li.h3 Can't Lose What You Never Had
			li.h3 I Have a Dream
			li.h3 On the Wings Of Love
			li.h3 Swear It Again ( Rokstone Mix )
			li.h3 If I Let You Go ( Extended Version )
			li.h3 That's What It's All About
			li.h3 Flying Without Wings ( A Cappella Mix )
	section
		h2.bullet Coast To Coast
		h2.bullet Release : 6 November 2000
		h2.bullet Sound Track
		ul
			li.h3 My Love
			li.h3 I Lay My Love On You
			li.h3 Against All Odds
			li.h3 When You're Looking Like That
			li.h3 Close
			li.h3 Somebody Needs You
			li.h3 Angel's Wings
	section
		h2.bullet Coast To Coast
		h2.bullet Release : 6 November 2000
		h2.bullet Sound Track
		ul
			li.h3 Soledad
			li.h3 Puzzle Of My Heart
			li.h3 Dreams Come True
			li.h3 No Place That Far
			li.h3 You Make Me Feel
			li.h3 Loneliness Knows Me By Name
			li.h3 Fragile Heart
			li.h3 Every Little Thing You Do
	section
		h2.bullet World Of Our Own
		h2.bullet Release : 1 November 2001
		h2.bullet Sound Track
		ul
			li.h3 Queen of My Heart
			li.h3 Bop Bop Baby
			li.h3 Bop Bop Baby ( Almighty Radio Edit )
			li.h3 I Cry
			li.h3 I Promise You That
			li.h3 My Private Movie
			li.h3 Why Do I Love You
			li.h3 I Wanna Grow Old With You
			li.h3 Don't Get Me Wrong
			li.h3 Evergreen
			li.h3 Crying Girl
			li.h3 You Don't Know
	section
		h2.bullet World Of Our Own
		h2.bullet Release : 1 November 2001
		h2.bullet Sound Track
		ul
			li.h3 World of Our Own
			li.h3 Reason for Living
			li.h3 To Be Loved
			li.h3 Drive
			li.h3 If Your Heart's Not In It
			li.h3 When You Come Around
			li.h3 Don't Say It Too Late
			li.h3 Don't Let Me Go
			li.h3 Walk Away
			li.h3 Love Crime
			li.h3 Imaginary Diva
			li.h3 Angel
			li.h3 Bad Girls
	section
		h2.bullet Unbreakable : The Greatest Hits Volume 1
		h2.bullet Release : 11 November 2002
		h2.bullet Sound Track
		ul
			li.h3 Swear It Again
			li.h3 If I Let You Go
			li.h3 Flying Without Wings
			li.h3 I Have A Dream ( Remix )
			li.h3 Fool Again
			li.h3 Against All Odds
			li.h3 My Love
			li.h3 I Lay My Love On You
			li.h3 Uptown Girl
			li.h3 QUeen Of My Heart
	section
		h2.bullet Unbreakable : The Greatest Hits Volume 1
		h2.bullet Release : 11 November 2002
		h2.bullet Sound Track
		ul
			li.h3 World Of Our Own
			li.h3 Bop Bop Baby
			li.h3 When You're Looking Like That
			li.h3 Unbreakable
			li.h3 Written In The Stars
			li.h3 How Does It Feel
			li.h3 Tonight
			li.h3 Love Takes Two
			li.h3 Miss You Nights
	section
		h2.bullet Turnaround
		h2.bullet Release : 24 November 2003
		h2.bullet Sound Track
		ul
			li.h3 Mandy
			li.h3 Hey Whatever
			li.h3 Heal
			li.h3 Obvious
			li.h3 When A Woman Loves A Man
			li.h3 On My Shoulder
			li.h3 Turn Around
			li.h3 I Did It For You
			li.h3 Thank You
			li.h3 To Be With You
			li.h3 Home
			li.h3 Lost In You
			li.h3 What Do They Know
	section
		h2.bullet Allow Us To Be Frank
		h2.bullet Release : 8 November 2004
		h2.bullet Sound Track
		ul
			li.h3 Ain't That A Kick In The Head
			li.h3 Fly Me To The Moon
			li.h3 Smile
			li.h3 Let There Be Love
			li.h3 The Way You Look Tonight
			li.h3 Come Fly With Me
			li.h3 Mack Te Knife
			li.h3 I Left My Heart in San Francisco
			li.h3 Summer Wind
			li.h3 Clementine
			li.h3 When I Fall In Love
			li.h3 That's Life
	section
		h2.bullet Released
		h2.bullet Release : 31 March 2005
		h2.bullet Sound Track
		ul
			li.h3 When You're Looking Like That ( 2000 Remix )
			li.h3 Don't Calm The Storm
			li.h3 I Won't Let You Down
			li.h3 Tonight ( Metro Mix )
			li.h3 Angel ( Remix )
			li.h3 Close Your Eyes
			li.h3 Where We Belong
			li.h3 Until The End Of Time
			li.h3 Bop Bop Baby ( Almighty Mix )
	section
		h2.bullet Released
		h2.bullet Release : 31 March 2005
		h2.bullet Sound Track
		ul
			li.h3 Mandy ( Club Mix )
			li.h3 Uptown Girl ( Extended Version )
			li.h3 Grased Lightning
			li.h3 Nothing Is Impossible
			li.h3 Lost In You
			li.h3 You See Friends ( I See Lovers )
			li.h3 Westlife Megamix
			li.h3 En Ti Deje Mi Amor ( I Lay My Love On You )
			li.h3 Con Lo Bien Que Te Ves ( When You're Looking Like That )
	section
		h2.bullet Face to Face
		h2.bullet Release : 28 October 2005
		h2.bullet Sound Track
		ul
			li.h3 You Raise Me Up
			li.h3 When You Tell Me That You Love Me
			li.h3 Amazing
			li.h3 That's Where You Find Love
			li.h3 She's Back
			li.h3 Desperado
			li.h3 Colour My World
			li.h3 In This Life
			li.h3 Heart Without A Home
			li.h3 Hit You With The Real Thing
			li.h3 Change Your Mind
	section
		h2.bullet The Love Album
		h2.bullet Release : 20 November 2006
		h2.bullet Sound Track
		ul
			li.h3 The Rose
			li.h3 Total Eclipse Of The Heart
			li.h3 All Out Of Love
			li.h3 You Light Up My Life
			li.h3 Easy
			li.h3 You Are So Beautiful ( To Me )
			li.h3 Have You Ever been In Love
			li.h3 Love Can Build A Bridge
			li.h3 The Dance
	section
		h2.bullet The Love Album
		h2.bullet Release : 20 November 2006
		h2.bullet Sound Track
		ul
			li.h3 All Or Nothing
			li.h3 You've Lost That Loving Feeling
			li.h3 Butterfly Kisses ( Exclusive )
			li.h3 Nothing's Gonna Change My Love For You
			li.h3 If 
			li.h3 Solitaire
			li.h3 Still Here
			li.h3 Total Eclipse Of The Heart ( Sunset Strippers Verse Radio Edit )
	section
		h2.bullet Back Home
		h2.bullet Release : 5 November 2007
		h2.bullet Sound Track
		ul
			li.h3 Home
			li.h3 Us Against The World
			li.h3 Something Right
			li.h3 I'm Already There
			li.h3 When I'm With You
			li.h3 Have You Ever
			li.h3 It's You
			li.h3 Catch My Breath
			li.h3 The Easy Way
			li.h3 I Do
			li.h3 Pictures In My Head
			li.h3 You Must Have a Broken Heart
	section
		h2.bullet Where We Are
		h2.bullet Release : 27 November 2009
		h2.bullet Sound Track
		ul
			li.h3 What About Now
			li.h3 How To Break a Heart
			li.h3 Leaving
			li.h3 Shadows
			li.h3 Talk Me Down
			li.h3 Where We Are
			li.h3 The Difference
			li.h3 As Love Is My Witness
			li.h3 Another World
			li.h3 No More Heroes
			li.h3 Sound Of a Broken Heart
			li.h3 Reach Out
			li.h3 I'll See You Again
	section
		h2.bullet Gravity
		h2.bullet Release : 22 November 2010
		h2.bullet Sound Track
		ul
			li.h3 Beautiful Tonight
			li.h3 Safe
			li.h3 Chances
			li.h3 I Will Reach You
			li.h3 Closer
			li.h3 The Reason
			li.h3 Tell Me It's Love
			li.h3 I Get Weak
			li.h3 Before It's Too Late
			li.h3 No One's Gonna Sleep Tonight
			li.h3 Difference in Me
			li.h3 Too Hard to Say Goodbye
	section
		h2.bullet Greatest Hits Volume 2
		h2.bullet Release : 18 November 2011
		h2.bullet Sound Track
		ul
			li.h3 Swear It Again
			li.h3 If I Let You Go
			li.h3 Flying Without Wings
			li.h3 I Have a Dream
			li.h3 Against All Odds
			li.h3 My Love
			li.h3 Uptown Girl
			li.h3 Queen of My Heart
			li.h3 World of Our Own
			li.h3 Mandy
			li.h3 You Raise Me up
	section
		h2.bullet Greatest Hits Volume 2
		h2.bullet Release : 18 November 2011
		h2.bullet Sound Track
		ul
			li.h3 Home
			li.h3 What About Now
			li.h3 Safe
			li.h3 Lighthouse
			li.h3 Beautiful World
			li.h3 Wide Open
			li.h3 Last Mile of the Way
			li.h3 Season in The Sun
			li.h3 Fool Again
			li.h3 I Lay My Love On You
			li.h3 When You're Looking Like That
	section
		h2.bullet Greatest Hits Volume 2
		h2.bullet Release : 18 November 2011
		h2.bullet Sound Track
		ul
			li.h3 Bop Bop Baby
			li.h3 Unbreakable
			li.h3 Hey Whatever
			li.h3 Obvious
			li.h3 When You Tell Me That You Love Me
			li.h3 Amazing
			li.h3 The Rose
			li.h3 Us Against the World
			li.h3 What About Now ( Live at the O2 )
			li.h3 Home ( Live at the O2 )
	section
		h2.bullet The Lovesongs
		h2.bullet Release : 3 Februari 2014
		h2.bullet Sound Track
		ul
			li.h3 Unbreakable ( Single Mix )
			li.h3 Mandy
			li.h3 Fool Again
			li.h3 The Rose
			li.h3 World of Our Own
			li.h3 More Than Words
			li.h3 What About Now
			li.h3 I Wanna Grow Old With You
			li.h3 Something Right
			li.h3 Total Eclipse of the Heart
			li.h3 Us Against the World
			li.h3 You Raise Me Up
			li.h3 Let There Be Love
			li.h3 When You're Looking Like That ( Single Mix )
include presentation-footer
include main-footer
