- var pageTitle = 'Deskripsi Kuliah'

include presentation-header

include menu

article#presentation


	section
		h1 DISKOGRAFI

	section
		h2.bullet Albums
		ul
			li Singles Album
	section
		h2.bullet Westlife ( 1999 )
		h2.bullet Sound Track
		ul
			li Swear It Again
			li If I Let You Go
			li Flying Without Wings
			li Season in The Sun
			li Fool Again
			li No No
			li I Don't Wanna Fight
			li Change The World
			li Moments
	section
		h2.bullet Westlife ( 1999 )
		h2.bullet Sound Track
		ul
			li I Need You
			li Miss You
			li More Than Words
			li Open Your Heart
			li Try Again
			li What I Want Is What I've Got
			li We Are One
			li Can't Lose What You Never Had
	section
		h2.bullet Coast To Coast ( 2000 )
		h2.bullet Sound Track
		ul
			li My Love
			li What Makes A Man
			li I Lay My Love On You
			li I Have A Dream
			li Against All Odds
			li When You're Looking Like That
			li Close
			li Somebody Needs You
			li Angel's Wings
	section
		h2.bullet Coast To Coast ( 2000 )
		h2.bullet Sound Track
		ul
			li Soledad
			li Puzzle Of My Heart
			li Dreams Come True
			li No Place That Far
			li Close Your Eyes
			li You Make Me Feel
			li Loneliness Knows Me By Name
			li Fragile Heart
			li Every Little Thing You Do
			li Don't Get Me Wrong

include presentation-footer
include main-footer
