- var pageTitle = 'Deskripsi Kuliah'

include presentation-header

include menu

article#presentation


	section
		h1 DISKOGRAFI

	section
		h2.bullet Albums
		ul
			li Singles Album
	section
		h2.bullet Westlife ( 1999 )
		h2.bullet Sound Track
		ul
			li Swear It Again
			li If I Let You Go
			li Flying Without Wings
			li Season in The Sun
			li Fool Again
			li No No
			li I Don't Wanna Fight
			li CHange The World
			li Moments
	section
		h2.bullet Westlife ( 1999 )
		h2.bullet Sound Track
		ul
			li I Need You
			li Miss You
			li More Than Words
			li Open Your Heart
			li Try Again
			li What I Want Is What I've Got
			li We Are One
			li Can't Lose What You Never Had
include presentation-footer
include main-footer
