- var pageTitle = 'Perkenalan'

include presentation-header

include menu

article#presentation
	

	section
		h1 WESTLIFE
		h2 Nama Anggota :
		ul
			li Jackyson ( 131110674 )
			li Ricky Arness Prasetio ( 131110666 )
			li Zico ( 131110895 )
			li Hasan Aprilyadi ( 131110852 )
		h2 Nama Anggota : TI-B SORE


include presentation-footer
include main-footer

