- var pageTitle = 'Mark Feehily'

include presentation-header
include menu
article#presentation


	section
		h1 Kian Egan
		p Pada Tanggal 14 Maret 2014 di Irlandia dan 17 Maret 2014 di United Kingdom, lagu Kian yang berjudul " Home " diriliskan.
	section
		h1 Karir ditelevisi
		p Kian Egan adalah salah satu pelatih The Voice of Ireland . Namun, impiannya memenangkan acara pergi ke compang-camping saat ia melemparkan nasibnya dengan Jim Devine, dari Irlandia Utara. Ini segera menempatkan dia di posisi yang kurang menguntungkan untuk para kontestan lain, menjelang akhir, pemirsa di Irlandia Utara tidak bisa men-download single, penghitungan yang berkontribusi suaranya.Egan yang marah dan membutuhkan dukungan dari Sharon Corr saat dia mengungkapkan pendapatnya tentang ketidakadilan itu semua dan memiliki "baris besar" tentang hal itu tetapi tidak berhasil.
		p Pada bulan Juni 2012, Egan mengumumkan dalam sebuah wawancara dengan Life Minggu bahwa ia "melihat melakukan sebuah acara TV dengan Sky surfing". Kemudian laporan menunjukkan bahwa acara akan delapan episode panjang dan akan disiarkan di Sky1 di akhir tahun.
		p Pada bulan Juli 2012, Egan disajikan Pagi ini Hub secara teratur, berdiri di bagi tuan rumah biasa. Belakangan tahun itu, setiap Jumat pagi di bulan Oktober, ia mulai memberikan laporan tentang Morning ini tentang kontestan tersisa di seri kesembilan The X Factor, sebelum kompetisi hidup menunjukkan akhir pekan itu.
		p Pada Tanggal 21 Oktober 2012, Egan sebagai presenter mengubah versi Surprise Surprise , tapi tidak kembali pada tahun berikutnya.
		p Pada Tanggal 17 November 2013, Egan Mengambil bagian dalam seri ketiga belas I'm a Celebrity...Get Me Out of Here! dan Pada Tanggal 8 Desember, dia dinobatkan sebagai King of the Jungle.

include presentation-footer

include main-footer

