- var pageTitle = 'Mark Feehily'

include ph-Kian
include menu
article#presentation


	section
		<audio src="musics/kian.mp3" autoplay></audio>
		h1 Kian Egan
		p Pada Tanggal 14 Maret 2014 di Irlandia dan 17 Maret 2014 di United Kingdom, lagu Kian yang berjudul " Home " diriliskan.
	section	
		h1 Karir ditelevisi
		p Kian Egan adalah salah satu pelatih The Voice of Ireland. Namun, impiannya memenangkan acara pergi ke compang-camping saat ia melemparkan nasibnya dengan Jim Devine, dari Irlandia Utara. Ini segera menempatkan dia di posisi yang kurang menguntungkan untuk para kontestan lain, menjelang akhir, pemirsa di Irlandia Utara tidak bisa men-download single, penghitungan yang berkontribusi suaranya.Egan yang marah dan membutuhkan dukungan dari Sharon Corr saat dia mengungkapkan pendapatnya tentang ketidakadilan itu semua dan memiliki " Baris Besar " tentang hal itu tetapi tidak berhasil.
		p Pada bulan Juni 2012, Egan mengumumkan dalam sebuah wawancara dengan Life Minggu bahwa ia " Melihat melakukan sebuah acara TV dengan Sky Surfing ". Kemudian laporan menunjukkan bahwa acara akan delapan episode panjang dan akan disiarkan di Sky1 di akhir tahun.
	section
		h1 Karir ditelevisi - 2
		p Pada bulan Juli 2012, Egan disajikan Pagi ini Hub secara teratur, berdiri di bagi tuan rumah biasa. Belakangan tahun itu, setiap Jumat pagi di bulan Oktober, ia mulai memberikan laporan tentang Morning ini tentang kontestan tersisa di seri kesembilan The X Factor, sebelum kompetisi hidup menunjukkan akhir pekan itu.
		p Pada Tanggal 21 Oktober 2012, Egan sebagai presenter mengubah versi Surprise Surprise , tapi tidak kembali pada tahun berikutnya.
		p Pada Tanggal 17 November 2013, Egan Mengambil bagian dalam seri ketiga belas I'm a Celebrity...Get Me Out of Here! dan Pada Tanggal 8 Desember, dia dinobatkan sebagai King of the Jungle.
		p Dari Tanggal 5 ~ 9 Januari 2015, Egan dan Angela Griffin co-host Fat Hewan: ramping of the Year pada ITV

	section
		h1 Discography
		<img src="images/album.jpg">
	section
		h1 Filmography
		h2 Television
		<img src="images/film.jpg">
	section
		h1 Guest appearances
		ul
			li Alan Carr's Celebrity Ding Dong ( 31 October 2008) – Guest
			li Lorraine ( 15 November 2010, 7 March 2011 ) – Guest
			li Celebrity Juice ( 23 December 2010, 5 April 2012, 13 March 2014 ) – Panellist
			li Loose Women ( 14 November 2011 ) – Guest
			li Daybreak ( 9 November 2012 ) – Guest
			li Fake Reaction ( 24 January 2013 ) – Guest
			li 8 Out of 10 Cats ( 8 February 2013 ) – Panellist
			li Your Face Sounds Familiar ( 27 July 2013 ) – Guest judge
	section
		h1 Guest appearances - 2
		ul
			li Who Wants to Be a Millionaire? ( 19 December 2013 ) – Contestant with Rebecca Adlington
			li The Cube: Celebrity Special ( 22 February 2014 ) – Contestant
			li The Wright Stuff ( 28 March 2014 ) – Panellist
			li The Guess List ( 3 May 2014 ) – Guest
			li Sunday Brunch ( 4 May 2014 ) – Guest
			li Weekend ( 10 May 2014 ) – Guest
			li TV OD ( 5 June 2014 ) – Guest
			li All Star Mr & Mrs ( 25 June 2014 )[ 19 ] – Contestant

include presentation-footer

include main-footer

