- var pageTitle = 'Mark Feehily'

include ph-Mark
include menu
article#presentation

	section
		h1 Mark Feehily
		p Pada April 2015, lagu single Mark Feehily diriliskan dan berjudul " Love Is A Drug ". Dan secara resmi mengubah nama panggungnya dari "Mark" menjadi "Markus". 

	section
		h2 Sebelum Merilis Lagu Baru
		p Mark pernah melakukan bisnis katering, menyajikan makanan panas dan minuman dari belakang sebuah truk, atau van saat ia melakukan perjalanan festival. Ia mengakui, tekadnya sudah bulat untuk menjalani bisnis barunya ini, menjual crepes dan kopi. Namun, bisnis ini dilakukan, bukan berarti dia menyerah menjalani profesi sebagai musisi. 
	section
		h3 Wawancara Mark - 1
		p "Ini akan benar-benar baik, kami punya banyak minat dan kami telah memesan dengan banyak festival musik dan kita berbicara tentang melakukan beberapa hal yang  banyak orang" kata Mark saat diwawancara mengenai bisnis baru. Diakui Mark, langkahnya memilih bisnis kuliner memang membuat banyak orang terkejut. "Orang-orang terperangah pada kenyataan bahwa aku berada di van membuat crepes."

	section
		h3 Wawancara Mark - 2
		p "Orang-orang sepertinya mengatakan, 'Oh, dia berada di Westlife beberapa tahun yang lalu, dan sekarang dia membuat teh'." Meski begitu, Mark merasa ini bisnisnya saat ini, dan ia sangat menyukainya. "Ini bisnis saya dan saya menyukainya, apa pun yang saya lakukan saya terlibat di dalamnya 110 persen." "Beberapa orang Irlandia datang dan seperti 'Tunggu sebentar, apa yang Anda lakukan di sebuah van?" "Saya suka festival, jadi mengapa tidak?" Dia mengatakan hal itu semua, sambil mulai mengolah crepes. Mark pun mengaku ke depan, ia akan lebih fokus menjual koktail.

	section
		h3 Wawancara Mark - 3
		p Dia pun sadar, terjun di dunia bisnis kuliner, akan menjadi kejutan bagi banyak orang, yang membayangkan ia akan melanjutkan bernyanyi. Diakui pula oleh Mark, ia juga kini mulai meluncurkan karier solonya juga. "Semua orang berpikir aku hanya pergi kembali ke ruang tamu dan duduk selama beberapa tahun terakhir," katanya. "Hanya karena orang tidak dapat melihat Anda. Bukan berarti Anda tidak melakukan apa-apa."
		p "Tidak terlalu lama setelah Westlife selesai, saya kembali ke studio dan membuat keputusan untuk benar-benar memulai dari awal."

include presentation-footer

include main-footer

