- var pageTitle = 'Mark Feehily'

include presentation-header
include menu
article#presentation


	section
		h1 Mark Feehily
		p Pada April 2015, lagu single Mark Feehily diriliskan dan berjudul " Love Is A Drug ". Dan secara resmi mengubah nama panggungnya dari "Mark" menjadi "Markus". 

include presentation-footer

include main-footer

