- var pageTitle = 'Nicky Byrne'

include ph-Nicky
include menu
article#presentation


	section
		<audio src="musics/nicky.mp3" autoplay></audio>
		h1 Nicky Byrne
		P Nicky benar-benar telah meninggalkan profesi sebagai penyanyi sejak Westlife bubar. Setelah sempat menjadi penari di Strictly, Nicky yang kini berusia 36 tahun ini lebih dikenal di Irlandia sebagai presenter TV dan radio.
	section
		img(src="images/index.jpg")
		p Pada mulanya tahun 2012 lalu, Nicky menjadi host saluran TV Irlandia, RTE reality show Football Next Star. Acara itu diikuti sepuluh pesepakbola yang berebut untuk mengisi skuat muda Celtic FC. Sejak saat itulah, mantan penyanyi ini ditawari untuk menjadi presenter di stasiun radio Irlandia, 2fm.
		
include presentation-footer
include main-footer

