- var pageTitle = 'Nicky Byrne'

include ph-Nicky
include menu
article#presentation

	section
		<audio src="musics/nicky.mp3" autoplay></audio>
		h1 Nicky Byrne
		P Nicky benar-benar telah meninggalkan profesi sebagai penyanyi sejak Westlife bubar. Setelah sempat menjadi penari di Strictly, Nicky yang kini berusia 36 tahun ini lebih dikenal di Irlandia sebagai presenter TV dan radio.
	section
		img(src="images/index.jpg")
		p Pada mulanya tahun 2012 lalu, Nicky menjadi host saluran TV Irlandia, RTE reality show Football Next Star. Acara itu diikuti sepuluh pesepakbola yang berebut untuk mengisi skuat muda Celtic FC. Sejak saat itulah, mantan penyanyi ini ditawari untuk menjadi presenter di stasiun radio Irlandia, 2fm.
	section
		p Pada tanggal 7 September 2012 Nicky mengikuti acara Strictly Come Dancing, dan pada acara yang diikutinya dia didampingi oleh Karen Hauer sebagai partner dansanya.
		p Tetapi pada minggu ke sembilan dia gagal pada saat berhadapan dengan pasangan Denise Van Outen dan James Jordan.
	section
		p Nicky begitu ramah dalam kekalahan, mengatakan: "Sudah begitu menyenangkan. Ini adalah yang terbesar dan terbaik acara di dunia. Untuk keluar setiap Sabtu malam sulit tapi itu memainkan karakter yang berbeda, melakukan tarian yang berbeda - itu.. baru menakjubkan.
		p "Karen, setiap minggu, setiap hari telah luar biasa. Kami memiliki sedikit mulai gemetar dalam hal hakim dan hal-hal lain, tapi kami  tampaknya semakin menigkat meningkatkan.
		p "Saya harus mengucapkan terima kasih kepada hakim - Anda telah benar-benar menakjubkan dengan semua saran Anda. Semua orang di belakang panggung -.. Bahkan orang-orang yang membuat Anda kopi saya akan kehilangan semuanya, sudah pengalaman yang luar biasa. "
	section
		p Dan pasangan Nicky Karen berpidato perpisahannya juga.
		p Dia mengatakan: "Saya hanya ingin mengucapkan terima kasih kepada semua orang - semua celebs dan penari profesional Sudah tahun pertama saya dan saya tidak bisa meminta untuk seorang selebriti yang lebih baik - Anda yang menakjubkan.." 
		
include presentation-footer
include main-footer

