- var pageTitle = 'Pembubaran'

include presentation-header
include menu
article#presentation


	section
		<audio src="musics/pem.mp3" autoplay></audio>
		h2 Pembubaran
		h3 WESTLIFE
		
	section
		h3 Tanggal & Alasan
		p Westlife pada akhir tahun 2011 sudah mengumumkan bahwa Westlife akan bubar dan akhirnya pada Juni tahun 2012, Westlife resmi bubar. Beberapa alasan penyebab westlife bubar yaitu : Bangkrutnya Shane Filan, Berkurangnya populer Westlife akibat Mark mengakui Gay pada Agustus tahun 2005 dan Bryan keluar dari Westlife pada Maret tahun 2004. Masih banyak alasan-alasan yang diduga oleh berbagai pihak. Tetapi bagaimanapun, kita tidak akan tahu penyebab asli alasan pembubaran Westlife.

	section
		h3 Sedikit Cerita Sebelum Bubar
		p Kuartet asal Irlandia ini mengumumkan mereka akan berpisah pada akhir tur musim panas 2012 mendatang. Namun, mereka menolak mengatakan rencana mereka setelah konser terakhir mereka.
		p Mark Feehily mengatakan, "Kami tidak akan melakukan apapun dulu. Jadi saya tidak memikirkan apakah itu tak disengaja atau direncanakan. Kami sudah mempersiapkan ide bahwa kami takkan bertahan selamanya dalam beberapa tahun mendatang," katanya seperti dikutip Female First.

	section
		p Shane Filan menambahkan, "Ini akan menjadi sangat aneh saat konser terakhir di Dublin tahun depan karena itulah saat paling mengerikan. Seperti pertanyaan, 'Apa yang Anda lakukan setelah konser'?, atau apakah kami akan menangis dan merayakan untuk terakhir kali. Saat kami melakukannya, kami tahu rasanya sangat berat."
		p Sementara para personel band ini merasa nyaman dengan bubarnya kelompok mereka, manajer Westlife, Louis Walsh tetap ingin kuartet ini mempertimbangkan keputusan mereka. Kepada majalah Star, Mark berkata,"Kami khawatir bahwa kami harus menolong Louis melewatinya. Saat saya bertanya padanya dia berkata, 'Saya tak ingin membicarakannya namun dia mengerti."	

include presentation-footer

include main-footer

