- var pageTitle = 'Penghargaan'

include presentation-header

include menu

article#presentation
   
    section
        h2 Shane Filan
        h3 Setelah grup westlife bubar pada tahun 2012. dan beberapa hari setelah Westlife tampil dalam tur perpisahan mereka pada bulan Juni 2012. Shane dinyatakan Bangkrut setelah shane ditipu oleh saudaranya yang sama-sama mengelola usaha properti mereka. 
        
include presentation-footer
include main-footer