- var pageTitle = 'Penghargaan'

include presentation-header

include menu

article#presentation
   
    section
        h2 Shane Filan
        h3 Setelah grup westlife bubar pada tahun 2012. dan beberapa hari setelah Westlife tampil dalam tur perpisahan mereka pada bulan Juni 2012. Shane dinyatakan Bangkrut setelah shane ditipu oleh saudaranya yang sama-sama mengelola usaha properti mereka. 
        h3 Shane mengaku bahwa perusahaanya berhutang kepada bank hingga 18 juta Pound. Setelah itu, Shane kembali ke dunia musik setelah seorang produser, Louis Walsh menawari penyayi berusia 35 tahun ini kontrak rekaman untuk sebuah album solo nya.
        h3 Shane juga membuat sebuah buku yang diberi judul Side of My Life. Di dalam nya, Shane menceritakan segala lika-liku dan pasang surut kehidupannya termasuk ketika bersama westlife.
        
    section
        h2 Album Solo Shane Filan "You And Me"
        h3 pada 4 Juli 2013 , Lagu pertama dari Shane Filan itu adalah "Everything to Me" dan EP yang di hasilkan memiliki tiga lagu lainnya "Everything","Today Not Yesterday" dan "Once", dan lagu tersebut dirilis pada tanggal 25 Agustus 2013.
        h3 dan lagu yang berikutnya adalah "About You" , "All You Need To know" , "Knee Deep In My Heart" , "One of These Days" , "Everytime" dsb.
        
    section
        h2.bullet Album You And Me
        h3.bullet List :
        ol
            li.h4 Everything to Me
            li.h4 About You
            li.h4 All You Need to Know
            li.h4 Knee Deep in My Heart
            li.h4 One of These Days
            li.h4 Everytime
            li.h4 Always Tomorrow
            li.h4 When I Met You
            li.h4 Everything's Gonna Be Alright
            li.h4 Coming Home
            li.h4 Baby Let's Dance
            li.h4 In the End
            li.h4 You and Me
            
    section
        h2 List Tour of Shane Filan
        h3 13 September 2014 - UpperRoom in Jakarta, Indonesia
        h3 16 September 2014 - Cargo Bar in Ho Chi Minh City, Vietnam
        h3 19 September 2014 - International Convention Centre in Taipei, Taiwan
        h3 21 September 2014 - Grand Stage in Shanghai, China
        h3 23 September 2014 - Workers Gymnasium in Beijing, China
        h3 25 September 2014 - Sun Yat-Sen Memorial Hall in Guangzhou, China
        h3 26 September 2014 - Mount Wutai Stadium in Nanjing, China
        h3 27 September 2014 - UESTC Hymnasium in Chengdu, China
        h3 29 September 2014 - World Expo in Hong Kong, Hong Kong
        
    section
        h2 List Tour of Shane Filan
        h3 01 Oktober 2014 - World Trade Center in Manila, Philippines
        h3 23 Oktober 2014 - Guildhall in Portsmouth, United Kingdom
        h3 24 Oktober 2014 - Assembley Hall Theatre in Tunbridge Wells, United Kingdom
        h3 25 Oktober 2014 - Assembley Hall Theatre in Worthing, United Kingdom
        h3 26 Oktober 2014 - St Georges Hall in Bradford, United Kingdom
        h3 28 Oktober 2014 - Concert Hall in Motherwell, United Kingdom
        h3 29 Oktober 2014 - Music Hall in Aberdeen, United Kingdom
        h3 30 Oktober 2014 - Grand Hall in Killmarnock, United Kingdom
        h3 31 Oktober 2014 - Sands Centre in Carlisle, United Kingdom
        
    section
        h2 List Tour of Shane Filan
        h3 02 November 2014 - The Forum in Barrow-In-Furness, United Kingdom
        h3 03 November 2014 - Floral Pavillion in New Brighton, United Kingdom
        
        
include presentation-footer
include main-footer