- var pageTitle = 'Shane Filan'

include ph-Shane

include menu-1

article#presentation
   
    section
        <audio src="musics/shane.mp3" autoplay></audio>
        h2 Shane Filan
        h3 Setelah grup westlife bubar pada tahun 2012. dan beberapa hari setelah Westlife tampil dalam tur perpisahan mereka pada bulan Juni 2012. Shane dinyatakan Bangkrut setelah shane ditipu oleh saudaranya yang sama-sama mengelola usaha properti mereka. 
        h3 Shane mengaku bahwa perusahaanya berhutang kepada bank hingga 18 juta Pound. Setelah itu, Shane kembali ke dunia musik setelah seorang produser, Louis Walsh menawari penyayi berusia 35 tahun ini kontrak rekaman untuk sebuah album solo nya.
        h3 Shane juga membuat sebuah buku yang diberi judul Side of My Life. Di dalam nya, Shane menceritakan segala lika-liku dan pasang surut kehidupannya termasuk ketika bersama westlife.
        
    section
        h2 Album Solo Shane Filan "You And Me"
        h3 pada 4 Juli 2013 , Lagu pertama dari Shane Filan itu adalah "Everything to Me" dan EP yang di hasilkan memiliki tiga lagu lainnya "Everything","Today Not Yesterday" dan "Once", dan lagu tersebut dirilis pada tanggal 25 Agustus 2013.
        h3 dan lagu yang berikutnya adalah "About You" , "All You Need To know" , "Knee Deep In My Heart" , "One of These Days" , "Everytime" dsb.
        
    section
        h2.bullet Album You And Me
        h3.bullet List :
        ol
            li.h3 Everything to Me
            li.h3 About You
            li.h3 All You Need to Know
            li.h3 Knee Deep in My Heart
            li.h3 One of These Days
            li.h3 Everytime
            li.h3 Always Tomorrow
            li.h3 When I Met You
            li.h3 Everything's Gonna Be Alright
            li.h3 Coming Home
            li.h3 Baby Let's Dance
            li.h3 In the End
            li.h3 You and Me
            
    section
        h2.bullet List Tour of Shane Filan
        ol
            li.h3 13 September 2014 - UpperRoom in Jakarta, Indonesia
            li.h3 16 September 2014 - Cargo Bar in Ho Chi Minh City, Vietnam
            li.h3 19 September 2014 - International Convention Centre in Taipei, Taiwan
            li.h3 21 September 2014 - Grand Stage in Shanghai, China
            li.h3 23 September 2014 - Workers Gymnasium in Beijing, China
            li.h3 25 September 2014 - Sun Yat-Sen Memorial Hall in Guangzhou, China
            li.h3 26 September 2014 - Mount Wutai Stadium in Nanjing, China
            li.h3 27 September 2014 - UESTC Hymnasium in Chengdu, China
            li.h3 29 September 2014 - World Expo in Hong Kong, Hong Kong

    section
        h2 List Tour of Shane Filan
        ol
            li.h3 01 Oktober 2014 - World Trade Center in Manila, Philippines
            li.h3 23 Oktober 2014 - Guildhall in Portsmouth, United Kingdom
            li.h3 24 Oktober 2014 - Assembley Hall Theatre in Tunbridge Wells, United Kingdom
            li.h3 25 Oktober 2014 - Assembley Hall Theatre in Worthing, United Kingdom
            li.h3 26 Oktober 2014 - St Georges Hall in Bradford, United Kingdom
            li.h3 28 Oktober 2014 - Concert Hall in Motherwell, United Kingdom
            li.h3 29 Oktober 2014 - Music Hall in Aberdeen, United Kingdom
            li.h3 30 Oktober 2014 - Grand Hall in Killmarnock, United Kingdom
            li.h3 31 Oktober 2014 - Sands Centre in Carlisle, United Kingdom
    
    section
        h2 List Tour of Shane Filan
        ol
            li.h3 02 November 2014 - The Forum in Barrow-In-Furness, United Kingdom
            li.h3 03 November 2014 - Floral Pavillion in New Brighton, United Kingdom
            li.h3 05 November 2014 - De Montford Hall in Leicester, United Kingdom
            li.h3 06 November 2014 - Albert Halls in Bolton, United Kingdom
            li.h3 07 November 2014 - Pavillion in Rhyl, United Kingdom
            li.h3 08 November 2014 - Parr Hall in Warrington, United Kingdom
            li.h3 10 November 2014 - The Hawth in Crawley, United Kingdom
            li.h3 11 November 2014 - Corn Exchange in Kings Lynn, United Kingdom
            li.h3 12 November 2014 - Marina Theatre in Lowestoft, United Kingdom
            li.h3 14 November 2014 - Grand Pavillion in Porthcawl, United Kingdom
            li.h3 15 November 2014 - Arena in St Albans, United Kingdom
            li.h3 16 November 2014 - Town Hall in Cheltenham, United Kingdom
    
    section
        h2 List Tour of Shane Filan
        ol
            li.h3 17 November 2014 - Firfield Hall in Croydon, United Kingdom
            li.h3 19 November 2014 - PLAY HOUSE THEATRE in Weston-Super-Mare, United Kingdom
            li.h3 20 november 2014 - Winter Gardens in Margate, United Kingdom
            li.h3 21 November 2014 - Towngate Theatre in Basildon, United Kingdom
            li.h3 23 November 2014 - Leisure Centre in Stevenage, United Kingdom
            li.h3 24 November 2014 - Corn Exchange in Cambridge, United Kingdom
            li.h3 25 November 2014 - Regent Threatre in Ipswich, United Kingdom
            li.h3 27 November 2014 - City Hall in Hull, United Kingdom
            li.h3 28 November 2014 - Harlequin Theatre in redhill, United Kingdom
            li.h3 01 Desember 2014 - Waterfront Hall in Belfast, United Kingdom
            li.h3 02 Desember 2014 - Olympia Threatre in Dublin, Ireland
            li.h3 03 Desember 2014 - INEC in Killarney, Ireland
            li.h3 05 Desember 2014 - Knocknarea Arena in Sligo, Ireland
    
        
        
        
        
include presentation-footer
include main-footer