- var pageTitle = 'Setelah Pembubaran'

include spemh
include menu
article#presentation


	section
		<audio src="musics/pem.mp3" autoplay></audio>
		h1 Setelah Pembubaran
		ul
			li <a href="shane.html">Shane Filan</a>
			li <a href="mark.html">Mark Feehily</a>
			li <a href="kian.html">Kian Egan</a>
			li <a href="nicky.html">Nicky Byrne</a>	
		
include presentation-footer

include main-footer

