- var pageTitle = 'Tour-Konser'

include presentation-header

include menu

article#presentation

	section
		h1 Tour - konser
		p Berikut ini adalah daftar lengkap dari tour dan konser WestLife

	section
		h2 Where the Dreams Come True Tour (2001)
		p Where the Dreams Come True Tour adalah tur dunia pertama Westlife, yang meliputi Eropa dan Asia pada tahun 2001. Untuk mendukung album debut Westlife mereka, dan album tindak lanjut kedua, Coast to Coast.

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 9 February 2001 - 11 May 2001; 8 June 2001 - 9 June 2001 (Europe) 
			li 14 May 2001 - 16 May 2001; 22 May 2001 - 6 June 2001 (Asia) 
			li 18 May 2001 - 20 May 2001 (Africa).

	section
		h2.bullet Track List
		hr
		ol 
			li.h3  Dreams Come True
			li.h3  No No
			li.h3  If I Let You Go
			li.h3  Swear it Again
			li.h3  Somebody Needs You
			li.h3  Season in The Sun
			li.h3  I Have A Dream
			li.h3  You Make Me Feel
			li.h3  When You're Looking Like That
			li.h3  My Love			

	section
		h2.bullet Tracklist(Midley)
		hr
		ol 
			li.h3 Wild Thing
			li.h3 More Than Words
			li.h3 My Girl
			li.h3 Can't Get Next to You
			li.h3 Ain't Too Proud To Beg
			li.h3 Baby I Need Your Loving
			li.h3 What Becomes Of The Broken Hearted
			li.h3 Fool Again
			li.h3 Uptown Girl
			li.h3 What Makes A Man
			li.h3 I Lay My Love On You
			li.h3 Flying Without Wings

	section
		h2 World of Our Own Tour (2002)
		p World of Our Own Tour berlangsung di Eropa.

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 1 April 2002 - 28 June 2002 (Europe)

	section
		h2.bullet Track List
		hr
		ol 
			li.h3  World of Our Own
			li.h3  Bop Bop Baby
			li.h3  Why Do I Love You
			li.h3  Bad girl
			li.h3  Fool Again
			li.h3  I Lay My Love On You
			li.h3  Uptown Girl
			li.h3  Swear it Again
			li.h3  If I Let You Go
			li.h3  Angle
			li.h3  Don't Say it's Too Late
			li.h3  Imaginary Diva
			li.h3  If Your Heart's Not In It

	section
		h2.bullet Tracklist(Midley)
		hr
		ol 
			li.h3 Jailhouse Rock
			li.h3 Brown Eyed Girl
			li.h3 Build Me Up Buttercup
			li.h3 Wanna Be Starting Something
			li.h3 Bohemian Rhapsody
			li.h3 Queen Of My Heart
			li.h3 My Love
			li.h3 Love Crime
			li.h3 Flying Without Wings
			li.h3 I Cry
			li.h3 When You're Lokking Like That
	
include presentation-footer
include main-footer
