- var pageTitle = 'Tour-Konser'

include presentation-header

include menu

article#presentation

	section
		h1 Tour - konser
		p Berikut ini adalah daftar lengkap dari tour dan konser WestLife

	section
		h2 Where the Dreams Come True Tour (2001)
		p Where the Dreams Come True Tour adalah tur dunia pertama Westlife,yang meliputi Eropa dan Asia pada tahun 2001, untuk mendukung album debut Westlife mereka, dan album tindak lanjut kedua,Coast to Coast.
        
	
include presentation-footer
include main-footer
