- var pageTitle = 'Tour-Konser'

include presentation-header

include menu

article#presentation

	section
		h1 Tour - konser
		p Berikut ini adalah daftar lengkap dari tour dan konser WestLife

	section
		h2 Where the Dreams Come True Tour (2001)
		img(src="images/Westlife_WhereDreams.jpg")

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 9 February 2001 - 11 May 2001; 8 June 2001 - 9 June 2001 (Europe) 
			li 14 May 2001 - 16 May 2001; 22 May 2001 - 6 June 2001 (Asia) 
			li 18 May 2001 - 20 May 2001 (Africa).

	section
		h2.bullet Track List
		hr
		ol 
			li.h4 Dreams Come True
			li.h4 No No
			li.h4 If I Let You Go
			li.h4 Swear it Again
			li.h4 Somebody Needs You
			li.h4 Season in The Sun
			li.h4 I Have A Dream
			li.h4 You Make Me Feel
			li.h4 When You're Looking Like That
			li.h4 My Love			
			li.h4 Medley
				ul
					li.h4 Wild Thing
					li.h4 More Than Words
					li.h4 My Girl
					li.h4 I Can't Get Next to You
					li.h4 Ain't Too Proud To Beg	
					li.h4 What Becomes Of The Broken Hearted
			li.h4 Fool Again
			li.h4 Uptown Girl
			li.h4 What Makes A Man
			li.h4 I Lay My Love On You
			li.h4 Flying Without Wings

	section
		h2 World of Our Own Tour (2002)
		img(src="images/Westlife-World-Of-Our-Own-534490.jpg")

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 1 April 2002 - 28 June 2002 (Europe)

	section
		h2 Track List
		ol
			li.h4 World of Our Own
			li.h4 Bop Bop Baby
			li.h4 Why Do I Love You
			li.h4 Bad girl
			li.h4 Fool Again
			li.h4 I Lay My Love On You
			li.h4 Uptown Girl
			li.h4 Swear it Again
			li.h4 If I Let You Go
			li.h4 Angle
			li.h4 Don't Say it's Too Late
			li.h4 Imaginary Diva
			li.h4 If Your Heart's Not In It
			li.h4 Medley :
				ul
					li.h4 Jailhouse Rock
					li.h4 Brown Eyed Girl
					li.h4 Build Me Up Buttercup
					li.h4 Wanna Be Starting Something
					li.h4 Bohemian Rhapsody
			li.h4 Queen Of My Heart
			li.h4 My Love
			li.h4 Love Crime
			li.h4 Flying Without Wings
			li.h4 I Cry
			li.h4 When You're Lokking Like That

	section
		h2 Unbreakable Tour (2003)
		img(src="images/220px-Programme_Westlife_Unbreakable.jpg")

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 13 April 2003 - 25 July 2003 (Europe)
 
	section
		h2.bullet Track List
		hr
		ol 
			li.h4 When you're Looking Like That
			li.h4 If I Let You Go
			li.h4 Tonight
			li.h4 Fliying Without Wings
			li.h4 My Love
			li.h4 Bop Bop Baby
			li.h4 Queen of My Heart
			li.h4 Medley
				ul
					li.h4 To Be With You
					li.h4 I Get Around
					li.h4 Do You Love Me
					li.h4 Twist & Shout
					li.h4 Great Ball Of Fire
					li.h4 Kiss
			li.h4 Fool Again
			li.h4 Swear it Again
			li.h4 Written In The Stars
			li.h4 I Lay My Love on You
			li.h4 Unbreakable
	section
		h2.bullet Encore
		hr
		ol 

			li.h4 Uptown Girl
			li.h4 What Makes a Man
			li.h4 World Of Our Own

	section
		h2 Turnaround Tour (2004)
		img(src="images/westlifetheturnaroundto.jpg")

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 29 March 2004 - 2 August 2004 (Europe)

	section
		h2.bullet Track List
		hr
		ol 
			li.h3  Turn Around
			li.h3  My Girl
			li.h3  What Makes a Man
			li.h3  World of Our Own
			li.h3  Flying Without Wings
			li.h3  Swear It Again
			li.h3  Uptown Girl
			li.h3  Medley :
				ul
					li.h3 Help!
					li.h3 I'll Be There For You
					li.h3 Wake Me Up Before You Go-Go
					li.h3 That's the Way (I Like It)
					li.h3 Everybody Needs Somebody to Love
			li.h3  When You're Looking Like That
			li.h3  Tonight
			li.h3  On My Shoulder
			li.h3  Obvious

	section
		h2.bullet Encore
		hr
		ol 
			li.h3 Hey Whatever
			li.h3 My Love
			li.h3 Mandy

	section
		h2 The No 1's Tour(2005)
		img(src="images/Westlife_No1s.jpg")

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 1 February 2005 - 2 April 2005
			li 25 April 2005 - 17 May 2005 (Europe)
	section
		h2.bullet Track List
		hr
		ol 
			li.h3  Uptown Girl
			li.h3  Hey Whatever
			li.h3  If I Let You Go
			li.h3  Mandy
			li.h3  Unbreakable
			li.h3  My Love
			li.h3  Swear It Again
			li.h3  When You're Looking Like That
			li.h3  Medley :
				ul
					li.h3 Disco Inferno
					li.h3 Oh, Pretty Woman
					li.h3 I Feel Fine
					li.h3 Don't Stop 'til You Get Enough
					li.h3 Footloose
			li.h3  Ain't That a Kick in the Head?
			li.h3  Smile
			li.h3  Mack the Knife

	section
		h2.bullet Encore
		hr
		ol 
			li.h3 World of Our Own
			li.h3 What Makes a Man
			li.h3 Flying Without Wings

	section
		h2 Face to Face Tour(2006)
		img(src="images/Westlife_FacetoFace.jpg")

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 3 April 2006 - 20 May 2006; 30 June 2006 - 27 August 2006 (Europe)
			li 26 June 2006; 4 September 2006 - 12 September 2006 (Asia)
			li 17 September 2006 - 23 September 2006 (Australia)
	section
		h2.bullet Track List
		hr
		ol 
			li.h3 Flying Without Wings
			li.h3 Hit You With The Real Thing
			li.h3 When You're Looking Like That
			li.h3 Amazing
			li.h3 She's Back
			li.h3 Uptown Girl
			li.h3 Medley :
				ul
					li.h3 Addicted To Love
					li.h3 Wild Wild West
					li.h3 Señorita
					li.h3 Don't Cha
			li.h3 Colour My World
			li.h3 Hey Whatever
			li.h3 The Dance
			li.h3 Swear It Again
			li.h3 Seasons in the Sun
			li.h3 World Of Our Own
			li.h3 Mandy

	section
		h2.bullet Encore
		hr
		ol 
			li.h3 Queen of My Heart
			li.h3 What Makes a Man
			li.h3 You Raise Me Up

				
include presentation-footer
include main-footer

