- var pageTitle = 'Tour-Konser'

include presentation-header

include menu

article#presentation

	section
		h1 Tour - konser
		p Berikut ini adalah daftar lengkap dari tour dan konser WestLife

	section
		h2 Where the Dreams Come True Tour (2001)
		p Where the Dreams Come True Tour adalah tur dunia pertama Westlife, yang meliputi Eropa dan Asia pada tahun 2001. Untuk mendukung album debut Westlife mereka, dan album tindak lanjut kedua, Coast to Coast.

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 9 February 2001 - 11 May 2001; 8 June 2001 - 9 June 2001 (Europe) 
			li 14 May 2001 - 16 May 2001; 22 May 2001 - 6 June 2001 (Asia) 
			li 18 May 2001 - 20 May 2001 (Africa).

	section
		h2.bullet Track List
		hr
		ol 
			li.h4 Dreams Come True
			li.h4 No No
			li.h4 If I Let You Go
			li.h4 Swear it Again
			li.h4 Somebody Needs You
			li.h4 Season in The Sun
			li.h4 I Have A Dream
			li.h4 You Make Me Feel
			li.h4 When You're Looking Like That
			li.h4 My Love			
			li.h4 Medley
				ul
					li.h4 Wild Thing
					li.h4 More Than Words
					li.h4 My Girl
					li.h4 I Can't Get Next to You
					li.h4 Ain't Too Proud To Beg	
					li.h4 What Becomes Of The Broken Hearted
			li.h4 Fool Again
			li.h4 Uptown Girl
			li.h4 What Makes A Man
			li.h4 I Lay My Love On You
			li.h4 Flying Without Wings

	section
		h2 World of Our Own Tour (2002)
		p World of Our Own Tour berlangsung di Eropa.

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 1 April 2002 - 28 June 2002 (Europe)

	section
		h2.bullet Track List
		hr
		ol 
			li.h3  World of Our Own
			li.h3  Bop Bop Baby
			li.h3  Why Do I Love You
			li.h3  Bad girl
			li.h3  Fool Again
			li.h3  I Lay My Love On You
			li.h3  Uptown Girl
			li.h3  Swear it Again
			li.h3  If I Let You Go
			li.h3  Angle
			li.h3  Don't Say it's Too Late
			li.h3  Imaginary Diva
			li.h3  If Your Heart's Not In It

	section
		h2.bullet Tracklist(Medley)
		hr
		ol 
			li.h3 Jailhouse Rock
			li.h3 Brown Eyed Girl
			li.h3 Build Me Up Buttercup
			li.h3 Wanna Be Starting Something
			li.h3 Bohemian Rhapsody
			li.h3 Queen Of My Heart
			li.h3 My Love
			li.h3 Love Crime
			li.h3 Flying Without Wings
			li.h3 I Cry
			li.h3 When You're Lokking Like That

	section
		h2 The Greatest Hits Tour (2003)
		p Greatest Hits Tour adalah tur konser dari band pop Westlife Irlandia yang menutupi Inggris dan Eropa pada tahun 2003. Ada 62 jadwal tur, termasuk beberapa konser di luar termasuk konser datang rumah mereka di kota-kota asal mereka Dublin dan Sligo.

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 13 April 2003 - 25 July 2003 (Europe)
 
	section
		h2.bullet Track List
		hr
		ol 
			li.h3  When you're Looking Like That
			li.h3  If I Let You Go
			li.h3  Tonight
			li.h3  Fliying Without Wings
			li.h3  My Love
			li.h3  Bop Bop Baby
			li.h3  Queen of My Heart
			li.h3  I Get Around
			li.h3  Do You Love Me
			li.h3  Twist & Shout
			li.h3  Great Ball Of Fire
			li.h3  Kiss
			li.h3  Fool Again
			li.h3  Swear it Again
			li.h3 Written In The Stars
			li.h3 I Lay My Love on You
			li.h3 Unbreakable
			li.h3 Uptown Girl
			li.h3 What Makes a Man
			li.h3 World Of Our Own

	section
		h2 Turnaround Tour (2004)
		p Turnaround Tour menutupi Inggris dan Eropa pada tahun 2004, tur ini seharusnya muncul di Cina, Korea, Malaysia, Thailand, Filipina dan Singapura namun dibatalkan. Bryan McFadden Anggota meninggalkan grup 3 minggu sebelum tanggal pertama dari tur ini di Belfast.

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 29 March 2004 - 2 August 2004 (Europe)

	section
		h2.bullet Track List
		hr
		ol 
			li.h3  Turn Around
			li.h3  My Girl
			li.h3  What Makes a Man
			li.h3  World of Our Own
			li.h3  Flying Without Wings
			li.h3  Swear It Again
			li.h3  Uptown Girl
			li.h3  Medley :
				ul
					li.h3 Help!
					li.h3 I'll Be There For You
					li.h3 Wake Me Up Before You Go-Go
					li.h3 That's the Way (I Like It)
					li.h3 Everybody Needs Somebody to Love
			li.h3  When You're Looking Like That
			li.h3  Tonight
			li.h3  On My Shoulder
			li.h3  Obvious

	section
		h2.bullet Encore
		hr
		ol 
			li.h3 Hey Whatever
			li.h3 My Love
			li.h3 Mandy

	section
		h2 The No 1's Tour(2005)
		p The Number Ones Tour oleh grup pop Irlandia Westlife awalnya disebut Tour Red Carpet, tapi nama itu kemudian berubah sebagai kebingungan jenis acara menjadi jelas. 

	section
		h2 Durasi Tour
		ul  Tour berlangsung pada tanggal 
			li 1 February 2005 - 2 April 2005
			li 25 April 2005 - 17 May 2005 (Europe)
	section
		h2.bullet Track List
		hr
		ol 
			li.h3  Uptown Girl
			li.h3  Hey Whatever
			li.h3  If I Let You Go
			li.h3  Mandy
			li.h3  Unbreakable
			li.h3  My Love
			li.h3  Swear It Again
			li.h3  When You're Looking Like That
			li.h3  Medley :
				ul
					li.h3 Disco Inferno
					li.h3 Oh, Pretty Woman
					li.h3 I Feel Fine
					li.h3 Don't Stop 'til You Get Enough
					li.h3 Footloose
			li.h3  Ain't That a Kick in the Head?
			li.h3  Smile
			li.h3  Mack the Knife

	section
		h2.bullet Encore
		hr
		ol 
			li.h3 World of Our Own
			li.h3 What Makes a Man
			li.h3 Flying Without Wings

				
include presentation-footer
include main-footer
